export(
	"cqi_attribute_size",
	"cqi_attributes",
	"cqi_alg2cpos",
	"cqi_cpos2alg",
	"cqi_cpos2id",
	"cqi_cpos2lbound",
	"cqi_cpos2rbound",
	"cqi_cpos2str",
	"cqi_cpos2struc",
	"cqi_dump_subcorpus",
	"cqi_fdist1",
	"cqi_fdist2",
	"cqi_full_name",
	"cqi_id2cpos",
	"cqi_id2freq",
	"cqi_id2str",
	"cqi_lexicon_size",
	"cqi_list_corpora",
	"cqi_list_subcorpora",
	"cqi_query",
	"cqi_regex2id",
	"cqi_str2id",
	"cqi_struc2cpos",
	"cqi_struc2str",
	"cqi_structural_attribute_has_values",
	"cqi_subcorpus_size"
)

# 	"cqi_charset",
# 	"cqi_corpus_info",
# 	"cqi_drop_subcorpus",
# 	"cqi_idlist2cpos",
# 	"cqi_properties",
