
# functions exported from file "R/cqp_object.R"
exportMethods(.cqp_name);

# functions exported from file "R/cqp_corpus.R"
export(corpus);

exportMethods(subcorpus)
exportMethods([)
exportMethods(summary)
exportMethods(print)
exportMethods(N)
exportMethods(size)
exportMethods(as.data.frame)
exportMethods(as.list)
exportMethods(.is_cqp_corpus)
export(write)

# functions exported from file "R/cqp_subcorpus.R"
exportMethods(nmatch)
exportMethods([)
exportMethods(part_size)
exportMethods(N)
exportMethods(summary)
exportMethods(print)
exportMethods(as.data.frame)
exportMethods(as.list)

# functions exported from file "R/cqp_attr.R"
exportMethods([[)
exportMethods($)
exportMethods(get.corpus)
exportMethods(ntypes)
exportMethods(nvalues)
exportMethods(ntokens)
exportMethods(nregions)
exportMethods(tokens)
exportMethods(types)
exportMethods(regions)
exportMethods(values)
exportMethods(region_sizes)
exportMethods(summary)
exportMethods(print)

# functions exported from file "R/cqp_kwic.R"
exportMethods(kwic)
exportMethods(sort)
exportMethods(as.matrix)
exportMethods(print)

# functions exported from file "R/cqp_flist.R"
exportMethods(cqp_flist)
exportMethods(summary)
exportMethods(print)

export(
	"cqi_attribute_size",
	"cqi_attributes",
	"cqi_alg2cpos",
 	"cqi_corpus_info",
	"cqi_cpos2alg",
	"cqi_cpos2id",
	"cqi_cpos2lbound",
	"cqi_cpos2rbound",
	"cqi_cpos2str",
	"cqi_cpos2struc",
	"cqi_drop_subcorpus",
	"cqi_dump_subcorpus",
	"cqi_fdist1",
	"cqi_fdist2",
	"cqi_full_name",
	"cqi_id2cpos",
	"cqi_id2freq",
	"cqi_id2str",
	"cqi_lexicon_size",
	"cqi_list_corpora",
	"cqi_list_subcorpora",
	"cqi_cqp",
	"cqi_query",
	"cqi_regex2id",
	"cqi_str2id",
	"cqi_struc2cpos",
	"cqi_struc2str",
	"cqi_structural_attribute_has_values",
	"cqi_subcorpus_size",

	"corpus",
	"summary.cqp_corpus",
	"print.cqp_corpus",
	"write.cqp_corpus",

	"[[.cqp_corpus",
	"$.cqp_corpus",


	"ntype",
	"ntype.cqp_attr",
	"types",
	"types.cqp_attr",

	"ntoken",
	"ntoken.cqp_attr",
	"tokens",
	"tokens.cqp_attr",

	"nregion",
	"nregion.cqp_attr",
	"regions",
	"regions.cqp_attr",

	"region_sizes",
	"region_sizes.cqp_attr",

	"summary.cqp_attr",
	"print.cqp_attr",

	"subcorpus",
	"summary.cqp_subcorpus",
	"print.cqp_subcorpus",

	"cqp_flist",
	"cqp_flist.cqp_attr",
  	"cqp_flist.cqp_corpus",
  	"cqp_flist.cqp_subcorpus",
	"summary.cqp_flist",
	"print.cqp_flist",

	"cqp_ftable",
 	"cqp_ftable.cqp_subcorpus",
 	"cqp_ftable.cqp_corpus",

	"cqp_kwic",
	"cqp_kwic.cqp_subcorpus",
	"sort.cqp_kwic",
	"print.cqp_kwic",

	"size",
	"size.cqp_corpus",
	"size.cqp_subcorpus",

        "create.corpus",

	"cqp_undump"

)

# 	"cqi_charset",
# 	"cqi_idlist2cpos",
# 	"cqi_properties",
